__pycache__/
.idea/
.venv/
.pytest_cache/
.vscode
.dockerignore
.env

/linkedin_state.json
assets/accounts.secrets.yaml
assets/campaign/campaign_keywords.yaml
assets/cookies/
assets/data/
assets/models/
/.coverage
/assets/campaign/campaign_objective.txt
/assets/campaign/product_docs.txt
/venv/
/linkedin/management/commands/export_model.py
